In [1]:
import pandas as pd
from google.cloud import bigquery, storage

In [2]:
import os

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = r"D:\DVC End to End\dvc_e2e.json"
bq_client = bigquery.Client()

In [3]:
import db_dtypes

query = """
select *
from `dvc_data.raw_data`
"""

query_job = bq_client.query(query)
df = query_job.to_dataframe()

d:\DVC End to End\.venv\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [5]:
df = df.sort_values(by="date", ascending=True).reset_index(drop=True)

In [6]:
df.head()

         date  value
0  2022-01-01  57.45
1  2022-01-02  49.21
2  2022-01-03  62.28
3  2022-01-04  46.68
4  2022-01-05  51.59

In [7]:
df.tail()

            date   value
1091  2024-12-27  164.34
1092  2024-12-28  177.08
1093  2024-12-29  198.22
1094  2024-12-30  209.71
1095  2024-12-31  198.79

In [10]:
# checking out if there are any missing dates
df['date'] = pd.to_datetime(df['date'])
full_date_range = pd.date_range(start=df["date"].min(), end=df["date"].max())
missing_dates = full_date_range.difference(df["date"])

if len(missing_dates) > 0:
    print(f"Missing dates: {missing_dates}")
else:
    print("No missing dates found")

No missing dates found

In [12]:
# checking out if there are more than one record for a single date

date_counts = df['date'].value_counts()

if any(date_counts > 1):
    print(date_counts[date_counts > 1])
else:
    print("No duplicate dates found")

No duplicate dates found